<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="productsDatabase" value="data\productsdatabase.json" />
    <add key="accountsDatabase" value="data\accountsdatabase.json" />
    <add key="basketDatabase" value="data\basketDatabase.json" />
    <add key="timerConfig" value="data\timerConfig.json" />
  </appSettings>
</configuration>