<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="productsJson" value="data\products.json" />
    <add key="accountsJson" value="data\accounts.json" />
    <add key="orderJson" value="data\order.json" />
    <add key="timerConfigJson" value="data\timerConfig.json" />
  </appSettings>
</configuration>